<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="dev.moutamid.chatty.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VirtualBestie">
        <activity
            android:name="dev.moutamid.chatty.helper.BrowserActivity"
            android:exported="true" />
        <activity
            android:name="dev.moutamid.chatty.chatbot.ChattyViewerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout" />
        <activity
            android:name="dev.moutamid.chatty.activities.StoriesActivity"
            android:exported="true" />
        <activity
            android:name="dev.moutamid.chatty.games.TriviaGameActivity"
            android:exported="true" />
        <activity
            android:name="dev.moutamid.chatty.games.DifferentObjectsGameActivity"
            android:exported="true" />
        <activity
            android:name="dev.moutamid.chatty.games.BlastBaloonsGameActivity"
            android:exported="true" />
        <activity
            android:name="dev.moutamid.chatty.games.TicTacToeGameActivity"
            android:exported="true" />
        <activity
            android:name="dev.moutamid.chatty.games.GamesListActivity"
            android:exported="true" />
        <activity
            android:name="dev.moutamid.chatty.activities.NotesActivity"
            android:exported="true" />
        <activity android:name="dev.moutamid.chatty.SplashActivity"
            android:theme="@style/SplashTheme"
            android:noHistory="true"
            android:exported="true"
            android:fitsSystemWindows="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="dev.moutamid.chatty.activities.HomeActivity"
            android:exported="true">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name="dev.moutamid.chatty.activities.MainActivity"
            android:exported="true" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>